.form {
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
  z-index: 2;
  position: relative;
  margin-top: 3.2rem;
  z-index: 3;
}

.labelForm {
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  color: var(--black);
  background: var(--pink);
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  width: max-content;
  box-shadow: var(--box);
  margin-bottom: -2px;
  z-index: 3;
}

.radio {
  display: flex;
  background: var(--yellow);
  padding: 1.6rem;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3.2rem;
  line-height: 4rem;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  transform: rotate(2.87deg);
  box-shadow: var(--box);
}

.marginRight {
  margin-right: 1.2rem;
}

.label {
  padding: 0.8rem 1.6rem;
  color: var(--black);
  background: var(--pink);
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  width: max-content;
  box-shadow: var(--box);
  margin-bottom: 1.2rem;
}

.labelSecond {
  color: var(--black);
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.input {
  border: 1px var(--black) solid;
  box-shadow: var(--box);
  padding: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  font-family: Sora, sans-serif;
}

.input::placeholder {
  color: var(--grey);
  font-family: Sora, sans-serif;
}

.submit {
  margin: 0 auto;
  margin-top: 3.2rem;
  margin-bottom: 9.6rem;
  padding: 0.8rem 3.2rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: 'Sora', sans-serif;
  background: var(--yellow);
  width: min-content;
  font-weight: bold;
  -moz-box-shadow: 6px 6px 0px 0px var(--black);
  -webkit-box-shadow: 6px 6px 0px 0px var(--black);
  box-shadow: 6px 6px 0px 0px var(--black);
}

.loading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  -moz-box-shadow: 6px 6px 0px 0px var(--black);
  -webkit-box-shadow: 6px 6px 0px 0px var(--black);
  box-shadow: 6px 6px 0px 0px var(--black);
  background: var(--pink);
  font-family: 'sora', sans-serif;
  padding: 3.2rem;
  text-align: center;
  transform: rotate(6.5deg);
  width: 70%;
}

.loadingText {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: bold;
  color: var(--black);
  text-transform: capitalize;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--black);
  font-size: 10px;
  margin: 1.2rem 0 4.8rem 0;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
