.form {
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
  z-index: 2;
  position: relative;
  margin-top: 3.2rem;
}

.radio {
  display: flex;
  background: var(--yellow);
  padding: 1.6rem;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3.2rem;
  line-height: 4rem;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  transform: rotate(2.87deg);
  box-shadow: var(--box);
}

.marginRight {
  margin-right: 1.2rem;
}

.label {
  padding: 0.8rem 1.6rem;
  color: var(--black);
  background: var(--pink);
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  width: max-content;
  box-shadow: var(--box);
  margin-bottom: 1.2rem;
}

.input {
  border: 1px var(--black) solid;
  box-shadow: var(--box);
  padding: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  font-family: Sora, sans-serif;
}

.input::placeholder {
  color: var(--grey);
  font-family: Sora, sans-serif;
}

.submit {
  margin: 0 auto;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
  padding: 0.8rem 3.2rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: 'Sora', sans-serif;
  background: var(--yellow);
  width: min-content;
  font-weight: bold;
  -moz-box-shadow: 6px 6px 0px 0px var(--black);
  -webkit-box-shadow: 6px 6px 0px 0px var(--black);
  box-shadow: 6px 6px 0px 0px var(--black);
}
