.container {
  -moz-box-shadow: 6px 6px 0px 0px var(--black);
  -webkit-box-shadow: 6px 6px 0px 0px var(--black);
  box-shadow: 6px 6px 0px 0px var(--black);
  background: var(--turquoise);
  font-family: 'Sora', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  margin: 0 2.4rem;
  margin-bottom: 2.4rem;
  padding: 0.8rem;
  text-align: center;
  transform: rotate(-6.5deg);
  /* font-family: 'Covered By Your Grace', cursive; */
}
